body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
}

section {
  z-index: 2;
}

.hide {
  display: none;
}

.mainbar {
  position: relative;
  display: flex;
  width: auto;
  padding: 20px 15px;
  justify-content: space-between;
}
.mainbar .logo {
  cursor: pointer;
}
.mainbar .menu {
  cursor: pointer;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.overlay-mainbar {
  background: white;
  position: relative;
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}
.overlay-mainbar .close {
  cursor: pointer;
}
.overlay-mainbar .logo {
  cursor: pointer;
}

.mobile-nav {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 90px;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
}
.mobile-nav p {
  margin: 10px auto;
  display: inline-block;
  padding-bottom: 5px;
  cursor: pointer;
  font-weight: 400;
}
.mobile-nav p:hover {
  color: #31d35c;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 60px;
}

.hero-image {
  position: relative;
  height: 310px;
  overflow: hidden;
  margin-bottom: 50px;
}
.hero-image .hero-img1 {
  position: absolute;
  width: 200%;
  bottom: -45px;
  left: -25%;
}
.hero-image .hero-img2 {
  position: absolute;
  left: 0;
  bottom: -6%;
}
.hero-image img {
  width: 100%;
}

.hero-text {
  text-align: center;
  width: 80%;
  margin: auto;
}
.hero-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #2d314d;
  font-weight: 400;
}
.hero-text p {
  color: #9698a6;
}

.req-button {
  width: 165px;
  height: 45px;
  border-radius: 50px;
  border: 0;
  color: White;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  margin: 20px;
  font-weight: 700;
  cursor: pointer;
}

.req-button:hover {
  background-image: linear-gradient(to right, rgba(49, 211, 92, 0.6), rgba(43, 183, 218, 0.6));
}

.features {
  text-align: center;
  background-color: rgba(150, 152, 166, 0.1);
  padding: 50px 40px;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  color: #2d314d;
}

.article h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #2d314d;
}
.article p {
  font-size: 15px;
  margin-top: 0;
  padding-bottom: 25px;
  color: #9698a6;
}

.art_div {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 60px;
}

.post-image {
  width: 88%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.text-content {
  text-align: left;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
.text-content .by-line {
  font-size: 12px;
  margin-bottom: 0;
  color: #9698a6;
}
.text-content h4 {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 400;
  color: #2d314d;
}
.text-content p {
  font-size: 14px;
  color: #9698a6;
}

footer {
  background-color: #2d314d;
  color: white;
  text-align: center;
  padding: 30px 0 50px;
}
footer p {
  color: #9698a6;
}
footer .logo {
  padding: 20px 0;
  cursor: pointer;
}
footer .social {
  padding: 20px 0;
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}
footer .social img {
  cursor: pointer;
}
footer nav {
  display: flex;
  flex-direction: column;
}
footer nav p {
  margin: 10px auto;
  display: inline-block;
  padding-bottom: 5px;
  cursor: pointer;
  font-weight: 400;
  color: white;
}
footer nav p:hover {
  color: #31d35c;
}

/*# sourceMappingURL=styles.css.map */
